* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

li {
    list-style: none;
}

/* CONTAINER */
.todo__container {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 3rem;
    margin-bottom: 2rem;
}

.logo img {
    height: 100%;
}

.add__todo {
    margin-bottom: 2rem;
}

.add__todo input {
    height: 2rem;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: .7rem;
    outline: none;
    transition: all .2s ease-in-out;
}

.add__todo input:focus {
    outline: none;
    border: 2px solid black;

}

.add__todo button {
    background-color: #001632;
    color: white;
    height: 2rem;
    width: 150px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.add__todo button:hover {
    background: linear-gradient(272.14deg,#84a5fa -21.28%,#e5fcf0 80.43%,#a8ffd3 110.78%);
    color: black;
    box-shadow: 2px 2px 8px rgba(0 0 0 / .4);

}

.todo-added__container {
    background-color: #ebeffd;
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0 0 0 / .4);
}

.todo-added__container .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.173);
}

.todo__controls {
    display: flex;
    gap: 1rem;
    margin-left: 10px;
}

.check__todo:hover {
    color: green;
    cursor: pointer;
}

.check__todo.active {
    color: green;
}

.check__todo.active:hover {
    color: orange;
}

.todo-added__container .delete__todo:hover {
    color: red;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

@media screen and (max-width: 479px) {
    .add__todo {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .add__todo input {
        width: 60%;
        margin-bottom: .5rem;
        text-align: center;
    }
    
    .add__todo button {
        width: 60%;
    }
}